@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
:root{
    --gray: #141414;
    --black: #000000;
    --white1: #ffffff;
    --white2: #d4d4d4;
    --white3: #ffffffd7;
    --white4: #ffffff9f;
    --lightgray1: #2b2b2b;
    --lightgray2: #ffffffb2;
    --blue: #1A9FBA;
    --inv: #ffffff00;

}

body{
    background-color: var(--gray);
    height: 100vh;
    flex-wrap: wrap;
    overflow-x: hidden;
}
#menu-button {
    display: none; 
}
.no-scroll {
    overflow: hidden;
}
.btn-loged{
    margin-top: 15%;
}
.btn-loged a{
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
    background-color: var(--white);
    padding: 10px;
    border-radius: 5px;;
    border: 1px solid var(--white1);
    margin-left: 5%;
}
.btn-loged a:hover{
    font-weight: bold;
    color: var(--white1);
    background-color: var(--black);
    padding: 10px;
    border-radius: 5px;;
    margin-left: 5%;
    border: 1px solid var(--white1);
    transition: .4s;
}
@media only screen and (min-width: 1301px) {
   /* body{
        background-color: red;
    }*/
    header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    gap: 10rem;
    flex-wrap: wrap;
    padding: .2rem;
    background-color: var(--lightgray1);
    color: var(--white1);
    min-height: 40px;
    z-index: 1000;
    }
    header .nav-links:first-child {
        margin-left: 50px;
    }

    nav{
        display: flex;
        gap: 1rem;  
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .nav-links{
        display: flex;
        color: var(--white);
        margin-left: 50px;
        text-decoration: none;
        text-decoration: bold;
        font-size: 20px;
    }
    .nav-links:last-child{
        margin-right: 0%;
    }

    .nav-links:hover{
        color: var(--lightgray2);
        transition: .4s;
        text-decoration: none;
    }
    .img-logo{
        width: 100%;
        height: 100%;
        align-items: center;
    }

    /*Login*/
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
    .bodylogin {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000; 
        margin-right: -500px;
        font-family: 'Play', sans-serif;
        font-weight: 300;
        line-height: 1.7;
        background-color: rgba(0, 0, 0, 0.7);
    }

    a:hover {
        text-decoration: none;
    }
    .link {
        color: #ffffff;
    }
    .link:hover {
        color: #c4c3ca;
    }
    p {
        font-weight: 500;
        font-size: 14px;
    }
    h4 {
        font-weight: 600;
    }
    h6 span {
        padding: 0 20px;
        font-weight: 700;
    }


    .card-3d-wrap {
        position: relative;
        width: 440px;
        max-width: 100%;
        height: 400px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        perspective: 800px;
        margin-top: 60px;
        
    }
    .card-3d-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: all 600ms ease-out; 
    }
    .card-front, .card-back {
        width: 100%;
        height: 100%;
        background-color: #2b2e38;
        background-image: url('/img/subtle-prism.png');
        position: absolute;
        border-radius: 6px;
        -webkit-transform-style: preserve-3d;
        margin-left: 150%;
        margin-top: -10%;
    }
    .card-back {
        transform: rotateY(180deg);
    }
    .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
        transform: rotateY(180deg);
    }
    .center-wrap {
        position: absolute;
        width: 100%;
        padding: 0 35px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) perspective(100px);
        z-index: 20;
        display: block;
        right: 0; /* Add this line */
    }
    .log-dados h2{
        font-size: 25px;
        color: white;
    }
    .log-dados h3{
        font-size: 20px;
        margin-top: 5px;
    }
    .close-button {
        position: absolute;
        top: 110px;
        left: 1020px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10000;
    }

    .close-button svg {
        width: 20px;
        height: 20px;
        fill: #ffffff;
    }
    .login {
        background-color: var(--white1);
        color: var(--black);
        margin-right: 0;
        margin-left: 0;
        padding: 10px;
        height: 40px;
        border: none;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid var(--white1);
    }
    .login svg {
        margin-top: -7px;
    }
    .login svg.hover {
        display: none;
        margin-top: 0px;
    }

    .login:hover svg.default {
        display: none;
    }

    .login:hover svg.hover {
        display: block;
    }

    .login:hover {
        color: var(--white1);
        background-color: var(--lightgray1);
        border: 1px solid var(--white1);
        transition: .4s;
    }
    /*Fim login*/
    
    button{
        padding: .6rem;
        font-size: .9rem;
        border: 15px;
        cursor: pointer;
    }
     
    .buttoncont {
        display: flex;
        background-color: var(--white1);
        color: var(--black);
        margin-right: 0;
        margin-left: 10%;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid var(--white1);
        
    }
     
    .buttoncont a {
        margin-right: 5px; 
    }
     
    .buttoncont a:last-child {
        margin-right: 0; 
    }
    .contact-menu {
        height: 70px;
        width: 250px;
        padding: 10px;
        display: none;
        position: absolute;
        margin-right: 0;
        padding-left: 20px;
        background-color: var(--white3);
        color: var(--black);
        border-radius: 5px;
        border: 1px solid var(--white3);
        text-align: left;
        top: 110%;
        right: 0;
    }
    .contact-menu a {
        color: black;
        padding: 1% 0%;
        text-decoration: none;
        display: block;
        white-space: nowrap;
    }
    .contact-menu a:hover {
        background-color: var(--white2);
    }
    .buttoncont:hover .contact-menu {
        display: block;
    }
     
    .buttoncont:hover{
        color: var(--white1);
        background-color: var(--lightgray1);
        border: 1px solid var(--white1);
        transition: .4s;
    }
    .buttoncont:hover .redescont svg {
        fill: white; 
    }
    .btnhaed{
        display: flex;
        margin-left: 5%;
        margin-right: 2%;
    }
    .contactar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .marginfinal{
        display: flex;
        width: 100%;
        margin-top: 50px;
    }
    .container1 {
        display: flex;
        height: 250px;
        align-items: flex-start;
        position: relative;
        margin-top: 5%;
    
    }
    
    .Benimoto {
        flex: 1;
        margin-left: 30px;
    }
    
    .Benimoto h2 {
        font-size: 25px;
        color: #1A9FBA;
        line-height: 1.5;
        margin-left: 10px;
    }
    
    .Benimoto a {
        font-size: 15px;
        color: #ffffff;
        line-height: 1.5;
        margin-left: 10px;
        text-decoration: none;
    
    }
    
    
    .linhaB {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        margin-left: 5px;
        position: absolute;
        top: 50px
    }
    
    .Contactos {
        flex: 1;
        text-align: Left;
        margin-left: 95px;
        margin-right: -120px;
    }
    
    .Contactos h2 {
        font-size: 25px;
        color: #1A9FBA;
        line-height: 1.5;
    }
    .Contactos a {  
        font-size: 20px;
        color: #ffffff;
        line-height: 1.5;
        text-decoration: none;
    }
    .Contactos p {  
        font-size: 15px;
        color: #ffffff;
        line-height: 1.5;
        margin-left: 0;
    }
    
    
    .linhaC {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        margin: 0 auto;
        position: absolute;
        top: 50px
    }
    .BenimotoRacing{
        flex: 1;
        text-align: right;
        margin-right: 30px;
        margin-top: 0.1%;
    }
    
    .BenimotoRacing h2 {
        font-size: 25px;
        color: #1A9FBA;
    }
    .BenimotoRacing a{  
        font-size: 15px;
        color: #ffffff;
        text-decoration: none;
        margin-right: 10px;
    }
    .BenimotoRacing p:last-child{  
        margin-top: 1%;
    }
    .BenimotoRacing p:first-child{  
        margin-top: 1%;
    }
    .BenimotoRacing p{  
        font-size: 15px;
        color: #ffffff;
        text-decoration: none;
        margin-right: 10px;
        margin-bottom: -20px;
    }
    
    
    .linhaR {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        position: absolute;
        right: 1.5%;
        top: 50px
    }
    .redescont {
        align-items: flex-start; 
        position: absolute;
        right: 40px;
        margin-top: 2%;
    }

}
@media only screen and (min-width: 1001px) and (max-width: 1300px) {
    /*body{
        background-color: green;
    }*/
    header{
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        gap: 10rem;
        flex-wrap: wrap;
        padding: .2rem;
        background-color: var(--lightgray1);
        color: var(--white1);
        min-height: 40px;
        z-index: 1000;
    }
    header .nav-links:first-child {
        margin-left: 50px;
    }
    
    nav{
        display: flex;
        gap: 1rem;  
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .nav-links{
        color: var(--white);
        margin-left: 50px;
        text-decoration: none;
        text-decoration: bold;
        font-size: 18px;
    }
    .nav-links:last-child{
        margin-right: 0%;
    }
    
    .nav-links:hover{
        color: var(--lightgray2);
        transition: .4s;
        text-decoration: none;
    }
    .img-logo{
        width: 100%;
        height: 100%;
        align-items: center;
        margin-left: -35%;
    }
    
    /*Login*/
    .bodylogin {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000; 
        margin-right: -500px;
    }
    
    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 350px;
        text-align: center;
        border: 1px solid #ffffff;
        border-radius: 12px;
        padding: 10px 12px;
        background: rgba(255, 255, 255, 0.733);
        backdrop-filter: blur(6px);
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }
    
    .wrapper h2 {
        font-size: 30px;
        color: #000;
        margin-bottom: 10px;
    }
    
    .input-field {
        position: relative;
        margin-bottom: 10px
    }
    
    .input-field input[type="email"],
    .input-field input[type="password"] {
        border-radius: 10px;
        background: transparent;
        margin: 15px 0;
        border: 2px solid #000;
        width: 280px;
        padding: 15px;
    }
    
    .input-field i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #000;
    }
    
    .input::placeholder {
        color: #000;
    }
    
    .input-field input[type="email"]:focus::placeholder,
    .input-field input[type="password"]:focus::placeholder {
        transform: translateY(-100%);
        transition: transform 0.2s ease-in-out;
        font-size: 14px;
    }
    
    .input-field input[type="email"]:not(:focus)::placeholder,
    .input-field input[type="password"]:not(:focus)::placeholder {
        transform: translateY(0%);
        transition: transform 0.2s ease-in-out;
        font-size: 16px;
    }
    
    a.forgot {
        text-decoration: none;
        position: relative;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 10px;
    }
    
    a.forgot:hover {
        text-decoration: underline;
        color: #000;
    }
    
    a.sign-up {
        text-decoration: none;
        color: #000;
        margin-top: 10px;
    }
    
    a.sign-up:hover {
        text-decoration: underline;
        color: #000;
    }
    
    .wrapper .login-btn {
        background: #000;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 45px;
        width: 250px; 
        height: 40px; 
        color: #fff;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .noacc{
        color: #494949;
    }
    .close-button {
        position: absolute;
        top: 10px;
        left: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .close-button svg {
        width: 20px;
        height: 20px;
        fill: #000000;
    }
    .login {
        background-color: var(--white1);
        color: var(--black);
        margin-right: 0;
        margin-left: 0;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid transparent;
    }
    
    .login svg {
        margin-top: -6px;
    }
    .login svg.hover {
        display: none;
        margin-top: 0px;
    }
    
    .login:hover svg.default {
        display: none;
    }
    
    .login:hover svg.hover {
        display: block;
    }
    
    .login:hover {
        color: var(--white1);
        background-color: var(--lightgray1);
        border: 1px solid var(--white1);
        transition: .4s;
    }
    
    /*Fim login*/
    
    button{
        padding: .6rem;
        font-size: .9rem;
        border: 15px;
        cursor: pointer;
    }
     
    .buttoncont {
        display: flex;
        background-color: var(--white1);
        color: var(--black);
        margin-right: 0;
        margin-left: 10%;
        padding: 10px;
        height: 40px;
        border: none;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px;
        
    }
     
    .buttoncont a {
        margin-right: 5px; 
    }
     
    .buttoncont a:last-child {
        margin-right: 0; 
    }
    .contact-menu {
        height: 70px;
        width: 250px;
        padding: 10px;
        display: none;
        position: absolute;
        margin-right: 0;
        padding-left: 20px;
        background-color: var(--white3);
        color: var(--black);
        border-radius: 5px;
        text-align: left;
        top: 110%;
        right: 0;
    }
    .contact-menu a {
        color: black;
        padding: 1% 0%;
        text-decoration: none;
        display: block;
        white-space: nowrap;
    }
    .contact-menu a:hover {
        background-color: var(--white2);
    }
    .buttoncont:hover .contact-menu {
        display: block;
    }
     
    .buttoncont:hover{
        color: var(--white1);
        background-color: var(--lightgray1);
        border: 1px solid var(--white1);
        transition: .4s;
    }
    .buttoncont:hover .redescont svg {
        fill: white; 
    }
    .btnhaed{
        display: flex;
        margin-left: -20%;
        margin-right: 2%;
    }
    .contactar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        
    }
    .marginfinal{
        display: flex;
        width: 100%;
        margin-top: 50px;
    }
    .container1 {
        display: flex;
        height: 250px;
        align-items: flex-start;
        position: relative;
        margin-top: 5%;
    
    }
    
    .Benimoto {
        flex: 1;
        margin-left: 30px;
    }
    
    .Benimoto h2 {
        font-size: 25px;
        color: #1A9FBA;
        line-height: 1.5;
        margin-left: 10px;
    }
    
    .Benimoto a {
        font-size: 15px;
        color: #ffffff;
        line-height: 1.5;
        margin-left: 10px;
        text-decoration: none;
    }
    
    
    .linhaB {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        margin-left: 5px;
        position: absolute;
        top: 55px;
    }
    
    .Contactos {
        flex: 1;
        text-align: Left;
        margin-left: 95px;
        margin-right: -120px;
    }
    
    .Contactos h2 {
        font-size: 25px;
        color: #1A9FBA;
        line-height: 1.5;
    }
    .Contactos a {  
        font-size: 20px;
        color: #ffffff;
        line-height: 1.5;
        text-decoration: none;
    }
    .Contactos p {  
        font-size: 15px;
        color: #ffffff;
        line-height: 1.5;
    }
    
    
    .linhaC {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        margin: 0 auto;
        position: absolute;
        top: 55px;
    }
    .BenimotoRacing{
        flex: 1;
        text-align: right;
        margin-right: 30px;
        margin-top: 0.5%;
    }
    
    .BenimotoRacing h2 {
        font-size: 25px;
        color: #1A9FBA;
    }
    .BenimotoRacing a{  
        font-size: 15px;
        color: #ffffff;
        text-decoration: none;
        margin-right: 10px;
    }
    .BenimotoRacing a:first-child{  
        margin-top: -5%;
    }
    .BenimotoRacing p:last-child{  
        margin-top: 1%;
    }
    .BenimotoRacing p{  
        font-size: 15px;
        color: #ffffff;
        text-decoration: none;
        margin-right: 10px;
        margin-bottom: -10px;
    }
    
    
    .linhaR {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        position: absolute;
        right: 3%;
        top: 55px;
    }
    .redescont{
        align-items: flex-start; 
        position: absolute;
        right: 40px;
        margin-top: 2%;
    }
    
}
@media only screen and (min-width: 740px) and (max-width: 1000px) {
    /*body{
        background-color: yellow;
    }*/
    header{
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        flex-wrap: wrap;
        padding: .2rem;
        background-color: var(--lightgray1);
        color: var(--white1);
        min-height: 40px;
        z-index: 1000;
    }
    header .nav-links:first-child {
        margin-left: 15px;
    }
    
    nav{
        display: flex;
        gap: 1rem;  
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-right: -10%;
    }
    
    .nav-links{
        color: var(--white);
        margin-left: 10px;
        text-decoration: none;
        text-decoration: bold;
        font-size: 15px;
    }
    .nav-links:last-child{
        margin-right: -10%;
    }
    
    .nav-links:hover{
        color: var(--lightgray2);
        transition: .4s;
        text-decoration: none;
    }
    .img-logo{  
        width: 100%;
        height: 80%;
        align-items: center;
        margin-left: 30%;   
    }
    
    /*Login*/
    .bodylogin {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000; 
        margin-right: -500px;
    }
    
    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 350px;
        text-align: center;
        border: 1px solid #ffffff;
        border-radius: 12px;
        padding: 10px 12px;
        background: rgba(255, 255, 255, 0.733);
        backdrop-filter: blur(6px);
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }
    
    .wrapper h2 {
        font-size: 30px;
        color: #000;
        margin-bottom: 10px;
    }
    
    .input-field {
        position: relative;
        margin-bottom: 10px
    }
    
    .input-field input[type="email"],
    .input-field input[type="password"] {
        border-radius: 10px;
        background: transparent;
        margin: 15px 0;
        border: 2px solid #000;
        width: 280px;
        padding: 15px;
    }
    
    .input-field i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #000;
    }
    
    .input::placeholder {
        color: #000;
    }
    
    .input-field input[type="email"]:focus::placeholder,
    .input-field input[type="password"]:focus::placeholder {
        transform: translateY(-100%);
        transition: transform 0.2s ease-in-out;
        font-size: 14px;
    }
    
    .input-field input[type="email"]:not(:focus)::placeholder,
    .input-field input[type="password"]:not(:focus)::placeholder {
        transform: translateY(0%);
        transition: transform 0.2s ease-in-out;
        font-size: 16px;
    }
    
    a.forgot {
        text-decoration: none;
        position: relative;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 10px;
    }
    
    a.forgot:hover {
        text-decoration: underline;
        color: #000;
    }
    
    a.sign-up {
        text-decoration: none;
        color: #000;
        margin-top: 10px;
    }
    
    a.sign-up:hover {
        text-decoration: underline;
        color: #000;
    }
    
    .wrapper .login-btn {
        background: #000;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 45px;
        width: 250px; 
        height: 40px; 
        color: #fff;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .noacc{
        color: #494949;
    }
    .close-button {
        position: absolute;
        top: 10px;
        left: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .close-button svg {
        width: 20px;
        height: 20px;
        fill: #000000;
    }
    .login {
        background-color: var(--white1);
        color: var(--black);
        margin-right: 0;
        margin-left: 0;
        padding: 10px;
        height: 40px;
        border: none;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid transparent;
    }
    .btnhaed{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .login svg {
        margin-top: -5px;
    }
    .login svg.hover {
        display: none;
        margin-top: 0px;
    }
    
    .login:hover svg.default {
        display: none;
    }
    
    .login:hover svg.hover {
        display: block;
    }
    
    .login:hover {
        color: var(--white1);
        background-color: var(--lightgray1);
        border: 1px solid var(--white1);
        transition: .4s;
    }
    
    /*Fim login*/
    
    button{
        padding: .6rem;
        font-size: .9rem;
        border: 15px;
        cursor: pointer;
    }
     
    .buttoncont {
        display: flex;
        background-color: var(--white1);
        color: var(--black);
        margin-right: 0;
        margin-left: 10%;
        padding: 10px;
        height: 40px;
        border: none;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px;
        
    }
     
    .buttoncont a {
        margin-right: 5px; 
    }
     
    .buttoncont a:last-child {
        margin-right: 0; 
    }
    .contact-menu {
        height: 70px;
        width: 250px;
        padding: 10px;
        display: none;
        position: absolute;
        margin-right: 0;
        padding-left: 20px;
        background-color: var(--white3);
        color: var(--black);
        border-radius: 5px;
        text-align: left;
        top: 110%;
        right: 0;
    }
    .contact-menu a {
        color: black;
        padding: 1% 0%;
        text-decoration: none;
        display: block;
        white-space: nowrap;
    }
    .contact-menu a:hover {
        background-color: var(--white2);
    }
    .buttoncont:hover .contact-menu {
        display: block;
    }
     
    .buttoncont:hover{
        color: var(--white1);
        background-color: var(--lightgray1);
        border: 1px solid var(--white1);
        transition: .4s;
    }
    .buttoncont:hover .redescont svg {
        fill: white; 
    }
    
    .contactar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        
    }
    .marginfinal{
        display: flex;
        width: 100%;
        margin-top: 50px;
    }
    .container1 {
        display: flex;
        height: 250px;
        width: 100%;
        align-items: flex-start;
        position: relative;
        margin-top: 5%;
    }
    
    .Benimoto {
        flex: 1;
        margin-left: 30px;
    }
    
    .Benimoto h2 {
        font-size: 25px;
        color: #1A9FBA;
        line-height: 1.5;
        margin-left: 10px;
    }
    
    .Benimoto a {
        font-size: 15px;
        color: #ffffff;
        line-height: 1.5;
        margin-left: 10px;
        text-decoration: none;
    
    }
    
    
    .linhaB {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        margin-left: 5px;
        position: absolute;
        top: 55px;
    }
    
    .Contactos {
        flex: 1;
        text-align: Left;
        margin-left: 0%;
        margin-right: -20%;
    }
    
    .Contactos h2 {
        font-size: 25px;
        color: #1A9FBA;
        line-height: 1.5;
    }
    .Contactos a {  
        font-size: 15px;
        color: #ffffff;
        line-height: 1.5;
        text-decoration: none;
    }
    .Contactos p {  
        font-size: 12px;
        color: #ffffff;
        line-height: 1.5;
    }
    
    
    .linhaC {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        margin: 0 auto;
        position: absolute;
        top: 55px;
    }
    .BenimotoRacing{
        flex: 1;
        text-align: right;
        margin-right: 30px;
        margin-top: 0.5%;
    }
    
    .BenimotoRacing h2 {
        font-size: 25px;
        color: #1A9FBA;
    }
    .BenimotoRacing a{  
        font-size: 15px;
        color: #ffffff;
        text-decoration: none;
        margin-right: 10px;
    }
    .BenimotoRacing p{  
        font-size: 15px;
        color: #ffffff;
        text-decoration: none;
        margin-right: 10px;
        margin-bottom: -10px;
        margin-top: 1%;
    }
    
    
    .linhaR {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        margin-right: 4%; 
        right: 0; 
        position: absolute;
        top: 55px;
    }
    .redescont{
        align-items: flex-start; 
        position: absolute;
        right: 20px;
        margin-top: 2%;
    }
}

@media only screen and (max-width: 739px) {
    /*body{
        background-color: pink;
    }*/
    header {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        flex-wrap: wrap;
        padding: .2rem;
        background-color: var(--lightgray1);
        color: var(--white1);
        min-height: 40px;
        z-index: 1000;
    }
    header .nav-horizontal {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .nav-links {
        color: var(--white);
        margin-left: 10px;
        text-decoration: none;
        font-size: 15px;
    }
    
    .nav-links:hover {
        color: var(--lightgray2);
        transition: .4s;
        text-decoration: none;
    }
    
    .img-logo {  
        width: 100%;
        height: 80%;
        align-items: center;
        margin-left: 30%;   
    }
    
    #menu-button {
        display: block;
        background: none;
        border: none;
        color: var(--white1);
        cursor: pointer;
        margin-left: 15px;
    }

    .nav-vertical {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 6%;
        left: 0;
        width: 20%;
        height: 0;
        overflow: hidden;
        background-color: var(--lightgray1);
        padding: 0 1rem;
        z-index: 999;
        transition: height 0.3s ease;
    }

    .nav-vertical.show {
        height: 20%;
        width: 20%;
    }

    .nav-vertical a {
        display: flex;
        margin: 10px 0;
        color: var(--white1);
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
    }
    .img-logo{  
        width: 100%;
        height: 80%;
        align-items: center;
        margin-left: -8%;
    }
    
    /*Login*/
    .bodylogin {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000; 
        margin-right: -500px;
    }
    
    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 350px;
        text-align: center;
        border: 1px solid #ffffff;
        border-radius: 12px;
        padding: 10px 12px;
        background: rgba(255, 255, 255, 0.733);
        backdrop-filter: blur(6px);
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }
    
    .wrapper h2 {
        font-size: 30px;
        color: #000;
        margin-bottom: 10px;
    }
    
    .input-field {
        position: relative;
        margin-bottom: 10px
    }
    
    .input-field input[type="email"],
    .input-field input[type="password"] {
        border-radius: 10px;
        background: transparent;
        margin: 15px 0;
        border: 2px solid #000;
        width: 280px;
        padding: 15px;
    }
    
    .input-field i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #000;
    }
    
    .input::placeholder {
        color: #000;
    }
    
    .input-field input[type="email"]:focus::placeholder,
    .input-field input[type="password"]:focus::placeholder {
        transform: translateY(-100%);
        transition: transform 0.2s ease-in-out;
        font-size: 14px;
    }
    
    .input-field input[type="email"]:not(:focus)::placeholder,
    .input-field input[type="password"]:not(:focus)::placeholder {
        transform: translateY(0%);
        transition: transform 0.2s ease-in-out;
        font-size: 16px;
    }
    
    a.forgot {
        text-decoration: none;
        position: relative;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 10px;
    }
    
    a.forgot:hover {
        text-decoration: underline;
        color: #000;
    }
    
    a.sign-up {
        text-decoration: none;
        color: #000;
        margin-top: 10px;
    }
    
    a.sign-up:hover {
        text-decoration: underline;
        color: #000;
    }
    
    .wrapper .login-btn {
        background: #000;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 45px;
        width: 250px;
        height: 40px; 
        color: #fff;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .noacc{
        color: #494949;
    }
    .close-button {
        position: absolute;
        top: 10px;
        left: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .close-button svg {
        width: 20px;
        height: 20px;
        fill: #000000;
    }
    .login {
        background-color: var(--white1);
        color: var(--black);
        margin-right: 0;
        margin-left: 0;
        padding: 10px;
        height: 40px;
        border: none;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid transparent;
    }
    .btnhaed{
        display: flex;
        margin-left: 0%;
        margin-right: 5%;
    }
    
    .login svg {
        margin-top: -4px;
    }
    .login svg.hover {
        display: none;
        margin-top: 0px;
    }
    
    .login:hover svg.default {
        display: none;
    }
    
    .login:hover svg.hover {
        display: block;
    }
    
    .login:hover {
        color: var(--white1);
        background-color: var(--lightgray1);
        border: 1px solid var(--white1);
        transition: .4s;
    }
    
    /*Fim login*/
    
    button{
        padding: .6rem;
        font-size: .9rem;
        border: 15px;
        cursor: pointer;
    }
     
    .buttoncont {
        display: flex;
        background-color: var(--white1);
        color: var(--black);
        margin-right: 0;
        margin-left: 10%;
        padding: 10px;
        height: 40px;
        border: none;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px;
        
    }
     
    .buttoncont a {
        margin-right: 5px; 
    }
     
    .buttoncont a:last-child {
        margin-right: 0; 
    }
    .contact-menu {
        height: 70px;
        width: 250px;
        padding: 10px;
        display: none;
        position: absolute;
        margin-right: 0;
        padding-left: 20px;
        background-color: var(--white3);
        color: var(--black);
        border-radius: 5px;
        text-align: left;
        top: 110%;
        right: 0;
    }
    .contact-menu a {
        color: black;
        padding: 1% 0%;
        text-decoration: none;
        display: block;
        white-space: nowrap;
    }
    .contact-menu a:hover {
        background-color: var(--white2);
    }
    .buttoncont:hover .contact-menu {
        display: block;
    }
     
    .buttoncont:hover{
        color: var(--white1);
        background-color: var(--lightgray1);
        border: 1px solid var(--white1);
        transition: .4s;
    }
    .buttoncont:hover .redescont svg {
        fill: white; 
    }
    
    .contactar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        
    }
    .marginfinal{
        display: flex;
        width: 100%;
        margin-top: 50px;
    }
    .container1 {
        display: flex;
        height: 250px;
        width: 100%;
        align-items: flex-start;
        position: relative;
        margin-top: 5%;
        margin-bottom: -100%;
    }
    
    .Benimoto {
        flex: 1;
        margin-left: 30px;
    }
    
    .Benimoto h2 {
        font-size: 15px;
        color: #1A9FBA;
        margin-left: 10px;
        top: 0px;
    }
    .Benimoto a {
        font-size: 10px;
        color: #ffffff;
        margin-left: 10px;
        text-decoration: none;
        position: relative;
    }
    
    .linhaB {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        margin-left: 5px;
        position: absolute;
        top: 25px;
    }
    
    .Contactos {
        flex: 1;
        text-align: Left;
        margin-left: 0%;
        margin-right: -20%;
    }
    
    .Contactos h2 {
        font-size: 15px;
        color: #1A9FBA;
        line-height: 1.5;
    }
    .Contactos a {  
        font-size: 10px;
        color: #ffffff;
        line-height: 1.5;
        text-decoration: none;
    }
    .Contactos p {  
        font-size: 10px;
        color: #ffffff;
        line-height: 1.5;
    }
    
    
    .linhaC {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        margin: 0 auto;
        position: absolute;
        top: 25px;
    }
    .BenimotoRacing{
        flex: 1;
        text-align: right;
        margin-right: 30px;
        margin-top: 0.3%;
    }
    
    .BenimotoRacing h2 {
        font-size: 15px;
        color: #1A9FBA;
        top: 0px;
    }
    .BenimotoRacing a{  
        font-size: 15px;
        color: #ffffff;
        text-decoration: none;
        margin-right: 10px;
        top: 35px;
    }
    .BenimotoRacing p{  
        font-size: 10px;
        color: #ffffff;
        text-decoration: none;
        margin-right: 10px;
        margin-bottom: -10px;
        top: 35px;
    }
    
    
    .linhaR {
        width: 20%;
        height: 3px;
        background-color: #1A9FBA;
        margin-right: 4%; 
        right: 0; 
        position: absolute;
        top: 25px;
    }
    .redescont{
        align-items: flex-start; 
        position: absolute;
        right: 20px;
        margin-top: 2%;
    }
    .social-icon svg {
        width: 20px; 
        height: 20px; 
    }
}