@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
:root{
    --gray: #141414;
    --black: #000000;
    --white1: #ffffff;
    --white2: #d4d4d4;
    --white3: #ffffffd7;
    --white4: #ffffff9f;
    --lightgray1: #2b2b2b;
    --lightgray2: #ffffffb2;
    --blue: #1A9FBA;
    --inv: #ffffff00;

}
body{
    font-family: 'Play';
}
.third-section{
    margin-bottom: -50%;
    margin-top: 5%;
}
.first-section .backgroundImage {
    width: 100%;
    height: auto;
    display: block;
}

.tit-bars{
    font-size: 40px;
    color: var(--blue);
    vertical-align: middle;
    position: flex;
    margin-left: 7%;
    z-index: 2;
}
.text-bars{
    font-size: 20px;
    color: var(--white1);
    vertical-align: middle;
    position: absolute;
    margin-top: 2%;
    z-index: 2;
}
.x-bars{
    margin-top: 2%;
    margin-left: 9%;
    width: 80%;
    height: 100%;
    display: block;
    position: relative;
}
.bars{
    width: 100%;
    display: flex;
    position: relative;
}
.barras{
    position: flex;
    width: 80%;
    height: 5px;
    background-color: #1A9FBA;
    margin-top: 1.5%;
    margin-left: 10%;
    z-index: 2;
}

.tit-bare{
    font-size: 40px;
    color: var(--blue);
    vertical-align: middle;
    position: flex;
    margin-right: 7%;
    z-index: 2;
}
.x-bare{
    margin-top: 2%;
    margin-left: 9%;
    width: 80%;
    height: 100%;
    display: block;
    position: relative;
}
.bare{
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 5%;
}
.barrae{
    position: flex;
    width: 80%;
    height: 5px;
    background-color: #1A9FBA;
    margin-top: 1.5%;
    margin-left: 0;
    margin-right: 10%;
    z-index: 2;
}
.equip-pics1{
    position: flex;
    margin-top: 1.5%;
    z-index: 2;
    margin-bottom: 1%;
}
.equip-pics1 img{
    height: 24%;
    width: 24%;
    margin-right: 1%;
}
.equip-pics1 img:last-child{

    margin-right: 0%;
}

.equip-pics2{
    position: flex;
    margin-top: 1.5%;
    z-index: 2;
    margin-bottom: 70%;
}
.equip-pics2 img{
    height: 24%;
    width: 24%;
    margin-right: 1%;
}
.equip-pics2 img:last-child{

    margin-right: 0%;
}


.tit-barl{
    font-size: 40px;
    color: var(--blue);
    vertical-align: middle;
    position: flex;
    margin-left: 7%;
    z-index: 2;
}
.x-barl{
    margin-top: 2%;
    margin-left: 9%;
    width: 80%;
    height: 100%;
    display: block;
    position: relative;
}
.barl{
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 5%;
}
.barral{
    position: flex;
    width: 62%;
    height: 5px;
    background-color: #1A9FBA;
    margin-top: 1.5%;
    margin-left: 8%;
    z-index: 2;
}
.logistic1{
    display: flex;
    margin-top: 2%;
}
.logistic2{
    display: flex;
    margin-top: 2%;
}
.s1{
    width: 50%;
    height: auto;
    margin-right: 1%;
}
.s1 img{
    width: 80%;
    height: auto;
    margin-left: 10%;
}
.s1 h2{
    margin-left: 45%;
    font-size: 40px;
    color: var(--white1);
}
.s1 p{
    margin-left: 5%;
    color: var(--white1);
    font-size: 20px;
    text-align: center;
}
.montagem {
    margin-top: 2%;
    display: flex;
    width: 80%;
    margin-left: 10%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.montagem .top-row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.montagem h2 {  
    font-size: 40px;
    color: var(--white1);
}

.montagem img {
    height: 100%; /* Defina a altura desejada */
    margin-left: 30%;
}

.montagem p {
    margin-left: 5%;
    color: var(--white1);
    font-size: 20px;
    text-align: left;
    width: 100%;
}
.barraf{
    position: flex;
    width: 80%;
    height: 5px;
    background-color: #1A9FBA;
    margin-top: 1.5%;
    z-index: 2;
    margin-left: 10%;
}