@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
:root{
    --gray: #141414;
    --black: #000000;
    --white1: #ffffff;
    --white2: #d4d4d4;
    --white3: #ffffffd7;
    --white4: #ffffff9f;
    --lightgray1: #2b2b2b;
    --lightgray2: #ffffffb2;
    --blue: #1A9FBA;
    --inv: #ffffff00;

}
body{
    font-family: 'Play';
}
.third-section{
    margin-bottom: -50%;
    margin-top: 5%;
}
.first-section .backgroundImage {
    width: 100%;
    height: auto;
    display: block;
}

.text-bar1{
    font-size: 40px;
    color: var(--blue);
    vertical-align: middle;
    position: flex;
    z-index: 2;
    margin-top: 25px;
    margin-left: 150px;
}
.x-bar1{
    width: 100%;
    height: auto;
    display: block;
}
.bar1{
    position: absolute;
    width: 62%;
    max-width: none;
    height: 5px;
    background-color: #1A9FBA;
    margin-left: 28%;
    margin-top: -22px;
    z-index: 2;
}
.x-bar2{
    margin-top: 16%;
    width: 100%;
    height: auto;
    display: block;
}
.text-bar2{
    font-size: 40px;
    color: var(--blue);
    vertical-align: middle;
    position: flex;
    z-index: 2;
    margin-top: 25px;
    margin-right: 150px;
    margin-left: 79.7%;
}
.bar2{
    position: absolute;
    width: 68%;
    max-width: none;
    height: 5px;
    background-color: #1A9FBA;
    margin-left: 8.2%;
    margin-top: -22px;
    z-index: 2;
}
.x-bar3{
    margin-top: 16%;
    width: 100%;
    height: auto;
    display: block;
}
.text-bar3{
    font-size: 40px;
    color: var(--blue);
    vertical-align: middle;
    position: flex;
    z-index: 2;
    margin-top: 25px;
    margin-right: 45%;
    margin-left: 46%;
}
.bar3-1{
    position: absolute;
    width: 33%;
    max-width: none;
    height: 5px;
    background-color: #1A9FBA;
    margin-left: 8.2%;
    margin-top: -22px;
    z-index: 2;
}
.bar3-2{
    position: absolute;
    width: 33%; 
    max-width: none; 
    height: 5px;
    background-color: #1A9FBA;
    margin-left: 57%;
    margin-top: -22px;
    z-index: 2;
}
.inicio{
    margin-top: 2%;
    margin-left: 8.5%;

}

.left-img{
    width: 18%;
    height: auto;
    display: block;
}
.text-right{
    font-size: 20px;
    width: 50%;
    color: var(--white1);
    vertical-align: middle;
    position: flex;
    z-index: 2;
    margin-top: -17%;
    margin-left: 20%;
    margin-right: 10%;
}

.now{
    margin-top: 2%;
    margin-left: 8.5%;

}
.right-img{
    width: 18%;
    height: auto;
    display: block;
    margin-left: 71%;
}
.text-left h5{
    font-size: 20px;
    width: 65%;
    color: var(--white1);
    z-index: 2;
    margin-top: -17%;
    margin-right: 20%;
    margin-left: 1%;
    text-align: justify;
}
.categ{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100%;
    display: flex;
}
.categ div{
    margin-right: 10%;
}
.categ div:last-child{
    margin-right: 0%;
}
.img-ssv{
    width: 300px;
    height: auto;
    display: block;
    margin-bottom: 2%;
}
.img-ssv:hover {
    transform: scale(1.1);  
    transition: .4s;
    z-index: 2;
}
.tit-ssv {
    font-size: 30px;
    width: 100%;
    color: var(--white1);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.text-ssv1{
    font-size: 15px;
    width: 100%;
    color: var(--white1);
    vertical-align: middle;
    position: flex;
    text-align: center;
    z-index: 2;
    margin-top: .5%;
}
.underline {
    text-decoration: none;
}
.det{
    margin-left: 8%;
    margin-right: 7.5%;
    width: 85%;
    height: 100%;
    display: flex;
}
.det a{
    width: 10%;
    margin-right: auto;
}
.det a:first-child{
    margin-left: 0%;
}
.det a:last-child{
    margin-right: 0%;
}
.details {
    display: flex;
    background-color: var(--white1);
    color: var(--black);
    padding: 10px;
    align-items: center;
    vertical-align: end;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    border: 1px solid transparent;
    z-index: 3;
    
}

.details svg.hover {
    display: none;
}

.details:hover svg.default {
    display: none;
}

.details:hover svg.hover {
    display: block;
}

.details:hover {
    color: var(--white1);
    background-color: var(--lightgray1);
    border: 1px solid var(--white1);
    transition: .4s;
}
.img-tt{
    width: 250px;
    height: auto;
    display: block;
    margin-bottom: 2%;
}
.img-tt:hover {
    transform: scale(1.1);  
    transition: .4s;
    z-index: 2;
}
.tit-tt{
    font-size: 30px;
    width: 100%;
    color: var(--white1);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    white-space: nowrap;
}
.text-tt{
    font-size: 15px;
    width: 100%;
    color: var(--white1);
    vertical-align: middle;
    position: flex;
    text-align: center;
    z-index: 2;
    margin-top: .5%;
}

.img-sp{
    width: 300px;
    height: auto;
    display: block;
    margin-bottom: 2%;
}
.img-sp:hover {
    transform: scale(1.1);  
    transition: .4s;
    z-index: 2;
}
.tit-sp{
    font-size: 27px;
    width: 100%;
    color: var(--white1);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    white-space: nowrap;
}
.text-sp{
    font-size: 15px;
    width: 100%;
    color: var(--white1);
    vertical-align: middle;
    position: flex;
    text-align: center;
    z-index: 2;
    margin-top: .5%;
}

.img-vl{
    width: 300px;
    height: auto;
    display: block;
    margin-bottom: 2%;
}
.img-vl:hover {
    transform: scale(1.1);  
    transition: .4s;
    z-index: 2;
}
.tit-vl{
    font-size: 27px;
    width: 100%;
    color: var(--white1);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.text-vl{
    font-size: 15px;
    width: 100%;
    color: var(--white1);
    vertical-align: middle;
    position: flex;
    text-align: center;
    z-index: 2;
    margin-top: .5%;
    
}