@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
:root {
    --gray: #141414;
    --black: #000000;
    --white1: #ffffff;
    --white2: #d4d4d4;
    --white3: #ffffffd7;
    --white4: #ffffff9f;
    --lightgray1: #2b2b2b;
    --lightgray2: #ffffffb2;
    --blue: #1A9FBA;
    --inv: #ffffff00;
}
body{
    font-family: 'Play';
}
.first-section {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 6%;
}
.second-section {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 20%;
}
.thirth-section {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 20%;
}
.fourth-section{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20%;
    margin-bottom: 20%;
}
.fifth-section{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 20%;
}
.sixth-section{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 20%;
}

.img-p1 {
    width: 45%;
    height: auto;
    display: block;
    margin-left: 5%;
    margin-top: 5%;
}

.text-bar {
    font-size: 40px;
    color: var(--blue);
    text-align: center;
    height: 5px;
    width: 80%;
    z-index: 2;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#block-60d3466afb5869a823e1 .sqs-block-alignment-wrapper {
    justify-content: center;
}

#block-60d3466afb5869a823e1 .sqs-shape > * {
    stroke: none;
}

#block-60d3466afb5869a823e1 {
    --shape-block-background-color: hsla(var(--darkAccent-hsl), 1);
}

.sqs-shape {
    width: 600px;
    height: 100px;
    fill: var(--white1);
    display: block;
    margin: auto;
    margin-top: -30%;
    margin-left: 45%;
}

.sqs-html-content {
    position: absolute;
    text-align: center;
    color: var(--blue); 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    font-weight: bold; 
}
.sqs-html-content h1 {
    font-size: 35px; 
    font-weight: bold; 
    margin-top: -25%;
    margin-left: 60%;
}

.sqs-html-content p {
    font-size: 16px; 
    font-weight: bold;
    margin-left: 30%;
    margin-right: -100%;
    display: block;
}
.textp1 p{
    font-size: 20px;
    color: var(--white1);
    margin-left: 51%;
    margin-top: 1.5%;
    text-align: justify;
}
.conquist{
    display: flex;
    margin-left: 51%;
    margin-top: 5%;
}
.ctext1{
    font-size: 20px;
    color: var(--white1);
    margin-left: 5%;
    margin-top: 1.5%;
}
.ctext2{
    font-size: 20px;
    color: var(--white1);
    margin-left: 50%;
    margin-top: 1.5%;
}
.ctext3{
    font-size: 20px;
    color: var(--white1);
    margin-left: 5%;
    margin-top: 1.5%;
}
.ctext4{
    font-size: 20px;
    color: var(--white1);
    margin-left: 5%;
    margin-top: 1.5%;
}
.ctext5{
    font-size: 20px;
    color: var(--white1);
    margin-left: 5%;
    margin-top: 1.5%;
}
.ctext6{
    font-size: 20px;
    color: var(--white1);
    margin-left: 5%;
    margin-top: 1.5%;
}
.nome{
    font-size: 40px;
    color: var(--blue);
    text-align: center;
    z-index: 2;
    margin-top: -90px;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idade{
    font-size: 20px;
    color: var(--blue);
    text-align: center;
    font-weight: bold;
    z-index: 2;
    margin-top: 0px;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}