@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
:root{
    --gray: #141414;
    --black: #000000;
    --white1: #ffffff;
    --white2: #d4d4d4;
    --white3: #ffffffd7;
    --white4: #ffffff9f;
    --lightgray1: #2b2b2b;
    --lightgray2: #ffffffb2;
    --blue: #1A9FBA;
    --inv: #ffffff00;

}
.first-section{
    margin-top: 7%;
    margin-left: 5%;  
    margin-bottom: -50%;  
}


.img{
    width: 35%;
    height: auto;
    display: block;
}
.ftext{
    font-size: 30px;
    width: 50%;
    color: var(--white1);
    vertical-align: middle;
    position: flex;
    z-index: 2;
    margin-left: 7%;
}
.text{
    font-size: 15px;
    width: 50%;
    color: var(--white1);
    vertical-align: middle;
    position: flex;
    z-index: 2;
    margin-left: 40%;
    margin-top: -25%;
    text-align: justify;
}
.camp{
    margin-left: 5%;
    margin-top: 5%;
}
.camptext{
    font-size: 30px;
    width: 50%;
    color: var(--white1);
    vertical-align: middle;
    position: flex;
    z-index: 2;
    margin-top: -4%;
    margin-left: 10%;
}
.pod{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 60%;
}
.podtext{
    font-size: 30px;
    width: 50%;
    color: var(--white1);
    vertical-align: middle;
    position: flex;
    z-index: 2;
    margin-top: -4%;
    margin-left: 10%;
}