@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}

:root{
    --gray: #141414;
    --black: #000000;
    --white1: #ffffff;
    --white2: #d4d4d4;
    --white3: #ffffffd7;
    --white4: #ffffff9f;
    --lightgray1: #2b2b2b;
    --lightgray2: #ffffffb2;
    --blue: #1A9FBA;
    --inv: #ffffff00;

}
body{
    font-family: 'Play';
}
main{
    margin-bottom: 5%;
}
@media only screen and (min-width: 1841px) {
    body{
        background-color: red;
    }
    .box-btn-actions{
        display: flex;
    }
    
    button{
        padding: .6rem;
        font-size: .9rem;
        border: 15px;
        cursor: pointer;
    }
    
    
    .wrapper .login {
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 45px;
        width: 200px;
        height: 30px;
    }
    
    
    img#backgroundImage {
        width: 100%;
        height: 90%;
        display: flex;
    }
    
    .image-text {
        position: absolute;
        margin-top: -45%;
        left: 25px; 
        color: var(--white1);
        font-weight: bold;
        font-size: 600%;
        z-index: 2; 
        margin-bottom: -100%;
        line-height: 1; 
    }
    
    .image-subtext{
        position: absolute; 
        margin-top: -22%;
        left: 25px; 
        color: var(--white1); 
        font-weight: bold;
        font-size: 200%; 
        z-index: 2; 
        line-height: 1;
        margin-bottom: -100%;
    }
    
    .saber{
        display: flex;
        color: var(--black);
        background-color: var(--white4);
        font-size: 30px;
        height: 75px; 
        width: 250px;
        top: -250px;
        margin-left: 150px;
        padding: 10px;
        border: none; 
        border-radius: 10px; 
        text-align: center; 
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px
    }
    
    .saber:hover{
        display: flex;
        color: var(--white1);
        background-color: var(--inv);
        border: none; 
        border-radius: 10px; 
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 3px solid var(--white1);
    }
    
    .bar1 {
        position: absolute;
        width: 110vw;
        max-width: none;
        height: 1%;
        background-color: #1A9FBA;
        bottom: -9%;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 2; 
    }
    .bar2 {
        position: absolute;
        width: 110vw;
        max-width: none;
        height: 1%;
        background-color: #707070;
        bottom: -8%;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 2;
    }
    .bar3 {
        position: absolute;
        width: 110vw;
        max-width: none;
        height: 10%;
        background-color: #141414;
        bottom: -18%;
        transform: rotate(-3deg); 
        transform-origin: left bottom; 
        z-index: 1; 
    }
    
    .second-section{
        position: relative;
        width: 80%;
        margin-top: 10%;
        margin-left: 7%;
        z-index: 3;
    }
    .third-section{
        position: relative;
        width: 80%;
        margin-top: 5%;
        margin-left: 5%;
        z-index: 3;
    }
    .fourth-section{
        position: relative;
        width: 100%;
        height: 300px;
        margin-top: 25%;
        margin-bottom: 5%;
    }
    
    .barra-horizontal {
        position: absolute;
        width: 100%;
        height: 250px;
        background-color: var(--blue);
    }
    
    .circulo {
        position: absolute;
        left: 0;
        bottom: 0;
    
        width: 100%;
        height: 100px;
        background-color: var(--blue);
        border-radius: 50%;
    }
    
    .image-right{
        width: 40%;
        height: auto;
        max-height: 100%;
        vertical-align: middle;
        position: absolute;
        right: 0;
        transform: translateY(-100%);
        z-index: 2;
    }
    
    .text-left{
        padding: 0 1%;
        font-size: 20px;
        color: #ffffff;
        line-height: 1.5;
        margin-right: 55%;
        text-align: right;
        direction: rtl;
        z-index: 2;
        transform: translateY(-80%);
    }
     
    .expose {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 3%;
        width: 80%; 
    }
    
    .expose div {
        width: 20%;
        margin: 0 10%;
        text-align: center;
    }
    
    .expose img {
        width: 180%;
    }
    
    .titulos-text {
        font-size: 15px;
        color: #ffffff;
        text-align: center;
        z-index: 2;
        margin-left: 40%;
    }
    
}
@media only screen and (min-width: 1401px) and (max-width: 1840px) {
    body{
        background-color: green;
    }
    .box-btn-actions{
        display: flex;
    }
    
    button{
        padding: .6rem;
        font-size: .9rem;
        border: 15px;
        cursor: pointer;
    }
    
    
    .wrapper .login {
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 45px;
        width: 200px;
        height: 30px;
    }
    .first-section{
        display: block;
        margin-top: 0;
    }
    
    img#backgroundImage {
        width: 100%;
        height: 90%;
        display: flex;
    }
    
    .image-text {
        position: absolute; 
        margin-top: -45%;
        left: 25px;
        color: var(--white1); 
        font-weight: bold;
        font-size: 500%;
        z-index: 2;
        margin-bottom: -100%;
        line-height: 1;
    }
    
    .image-subtext{
        position: absolute;
        margin-top: -25%;
        left: 25px;
        color: var(--white1);
        font-weight: bold;
        font-size: 200%;
        z-index: 2;
        line-height: 1;
        margin-bottom: -100%;
    }
    
    .saber{
        display: flex;
        color: var(--black);
        background-color: var(--white4);
        font-size: 30px;
        height: 75px; 
        width: 250px;
        top: -250px;
        margin-left: 150px;
        padding: 10px;
        border: none; 
        border-radius: 10px; 
        text-align: center; 
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px
    }
    
    .saber:hover{
        display: flex;
        color: var(--white1);
        background-color: var(--inv);
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 3px solid var(--white1);
    }
    
    .bar1 {
        position: absolute; 
        width: 110vw;
        max-width: none;
        margin-top: 0%;
        height: 1%;
        background-color: #1A9FBA;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 2;
    }
    .bar2 {
        position: absolute;
        width: 110vw;
        max-width: none;
        height: 1%;
        background-color: #707070;
        margin-top: 0.5%;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 2;
    }
    .bar3 {
        position: absolute;
        width: 110vw;
        max-width: none;
        height: 10%;
        background-color: #141414;
        margin-top: 1%;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 1;
    }
    
    .second-section{
        position: relative;
        width: 80%;
        margin-top: 10%;
        margin-left: 7%;
        z-index: 3;
    }
    .third-section{
        position: relative;
        width: 80%;
        margin-top: 5%;
        margin-left: 5%;
        z-index: 3;
    }
    .fourth-section{
        position: relative;
        width: 100%;
        height: 300px;
        margin-top: 25%;
        margin-bottom: 5%;
    }
    
    .barra-horizontal {
        position: absolute;
        width: 100%;
        height: 250px;
        background-color: var(--blue);
    }
    
    .circulo {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-color: var(--blue);
        border-radius: 50%;
    }
    .your-story{
        margin-top: 5%;
    }
    .image-right{
        width: 40%;
        height: auto;
        max-height: 100%;
        vertical-align: middle;
        position: absolute;
        right: 0;
        transform: translateY(-100%);
        z-index: 2;
    }
    
    .text-left{
        padding: 0 1%;
        font-size: 20px;
        color: #ffffff;
        line-height: 1.5;
        margin-right: 55%;
        text-align: right;
        direction: rtl;
        z-index: 2;
        transform: translateY(-80%);
    }
     
    .expose {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 3%;
        width: 80%;
    }
    
    .expose div {
        width: 20%;
        margin: 0 10%;
        text-align: center;
    }
    
    .expose img {
        width: 180%;
    }
    
    .titulos-text {
        font-size: 15px;
        color: #ffffff;
        text-align: center;
        z-index: 2;
        margin-left: 40%;
    }
    
}
@media only screen and (min-width: 1101px) and (max-width: 1400px) {
    body{
        background-color: pink;
    }
    .box-btn-actions{
        display: flex;
    }
    
    button{
        padding: .6rem;
        font-size: .9rem;
        border: 15px;
        cursor: pointer;
    }
    
    
    .wrapper .login {
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 45px;
        width: 200px;
        height: 30px;
    }
    .first-section{
        display: block;
        margin-top: 0;
    }
    
    img#backgroundImage {
        width: 100%;
        height: 90%;
        display: flex;
    }
    
    .image-text {
        position: absolute;
        margin-top: -45%;
        left: 25px;
        color: var(--white1);
        font-weight: bold;
        font-size: 400%;
        z-index: 2;
        margin-bottom: -100%;
        line-height: 1;
    }
    
    .image-subtext{
        position: absolute;
        margin-top: -25%;
        left: 25px;
        color: var(--white1);
        font-weight: bold;
        font-size: 150%;
        z-index: 2;
        line-height: 1;
        margin-bottom: -100%;
    }
    
    .saber{
        display: flex;
        color: var(--black);
        background-color: var(--white4);
        font-size: 25px;
        height: 55px; 
        width: 200px;
        top: -200px;
        margin-left: 100px;
        padding: 10px;
        border: none; 
        border-radius: 10px; 
        text-align: center; 
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px
    }
    
    .saber:hover{
        display: flex;
        color: var(--white1);
        background-color: var(--inv);
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 3px solid var(--white1);
    }
    
    .bar1 {
        position: absolute;
        width: 110vw;
        max-width: none;
        margin-top: 0%;
        height: 1%;
        background-color: #1A9FBA;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 2;
    }
    .bar2 {
        position: absolute; 
        width: 110vw;
        max-width: none;
        height: 1%; 
        background-color: #707070;
        margin-top: 0.5%;
        transform: rotate(-3deg);
        transform-origin: left bottom; 
        z-index: 2;
    }
    .bar3 {
        position: absolute; 
        width: 110vw; 
        max-width: none;
        height: 10%; 
        background-color: #141414;
        margin-top: 1%;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 1;
    }
    
    .second-section{
        position: relative;
        width: 80%;
        margin-top: 10%;
        margin-left: 7%;
        z-index: 3;
    }
    .third-section{
        position: relative;
        width: 80%;
        margin-top: 5%;
        margin-left: 5%;
        z-index: 3;
    }
    .fourth-section{
        position: relative;
        width: 100%;
        height: 250px;
        margin-top: 25%;
        margin-bottom: 5%;
    }
    
    .barra-horizontal {
        position: absolute;
        width: 100%;
        height: 200px;
        background-color: var(--blue);
    }
    
    .circulo {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-color: var(--blue);
        border-radius: 50%;
    }
    .your-story{
        margin-top: 5%;
    }
    .image-right{
        width: 40%;
        height: auto;
        max-height: 100%;
        vertical-align: middle;
        position: absolute;
        right: 0;
        transform: translateY(-120%);
        z-index: 2;
    }
    
    .text-left{
        padding: 0 1%;
        font-size: 15px;
        color: #ffffff;
        line-height: 1.5;
        margin-right: 55%;
        text-align: right;
        direction: rtl;
        z-index: 2;
        transform: translateY(-80%);
    }
     
    .expose {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: -5%;
        width: 80%;
    }
    
    .expose div {
        width: 20%;
        margin: 0 10%; 
        text-align: center; 
    }
    
    .expose img {
        width: 150%;
    }
    
    .titulos-text {
        font-size: 15px;
        color: #ffffff;
        text-align: center;
        z-index: 2;
        margin-left: 20%;
    }
    
}
@media only screen and (min-width: 741px) and (max-width: 1100px) {
    body{
        background-color: red;
    }
    .box-btn-actions{
        display: flex;
    }
    
    button{
        padding: .6rem;
        font-size: .9rem;
        border: 15px;
        cursor: pointer;
    }
    
    
    .wrapper .login {
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 45px;
        width: 200px;
        height: 30px;
    }
    .first-section{
        display: block;
        margin-top: 0;
    }
    
    img#backgroundImage {
        width: 100%;
        height: 90%;
        display: flex;
    }
    
    .image-text {
        position: absolute;
        margin-top: -45%;
        left: 25px;
        color: var(--white1);
        font-weight: bold;
        font-size: 250%;
        z-index: 2;
        margin-bottom: -100%;
        line-height: 1;
    }
    
    .image-subtext{
        position: absolute;
        margin-top: -25%;
        left: 25px;
        color: var(--white1);
        font-weight: bold;
        font-size: 100%;
        z-index: 2;
        line-height: 1;
        margin-bottom: -100%;
    }
    
    .saber{
        display: flex;
        color: var(--black);
        background-color: var(--white4);
        font-size: 15px;
        height: 40px; 
        width: 150px;
        top: -150px;
        margin-left: 60px;
        padding: 10px;
        border: none; 
        border-radius: 10px; 
        text-align: center; 
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px
    }
    
    .saber:hover{
        display: flex;
        color: var(--white1);
        background-color: var(--inv);
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 3px solid var(--white1);
    }
    
    .bar1 {
        position: absolute;
        width: 110vw;
        max-width: none;
        margin-top: 0%;
        height: 1%;
        background-color: #1A9FBA;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 2; 
    }
    .bar2 {
        position: absolute;
        width: 110vw;
        max-width: none;
        height: 1%; 
        background-color: #707070; 
        margin-top: 0.5%;
        transform: rotate(-3deg); 
        transform-origin: left bottom; 
        z-index: 2; 
    }
    .bar3 {
        position: absolute;
        width: 110vw; 
        max-width: none; 
        height: 10%;
        background-color: #141414;
        margin-top: 1%;
        transform: rotate(-3deg);
        transform-origin: left bottom; 
        z-index: 1; 
    }
    
    .second-section{
        position: relative;
        width: 80%;
        margin-top: 25%;
        margin-left: 7%;
        z-index: 3;
    }
    .third-section{
        position: relative;
        width: 80%;
        margin-top: 5%;
        margin-left: 5%;
        z-index: 3;
    }
    .fourth-section{
        position: relative;
        width: 100%;
        height: 200px;
        margin-top: 25%;
        margin-bottom: 5%;
    }
    
    .barra-horizontal {
        position: absolute;
        width: 100%;
        height: 150px; 
        background-color: var(--blue);
    }
    
    .circulo {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px; 
        background-color: var(--blue);
        border-radius: 50%;
    }
    .your-story{
        margin-top: 5%;
    }
    .image-right{
        width: 40%;
        height: auto;
        max-height: 100%;
        vertical-align: middle;
        position: absolute;
        right: 0; 
        transform: translateY(-160%); 
        z-index: 2;
    }
    
    .text-left{
        padding: 0 1%;
        font-size: 13px;
        color: #ffffff;
        line-height: 1.5;
        margin-right: 55%;
        text-align: right; 
        direction: rtl; 
        z-index: 2;
        transform: translateY(-80%);
    }
     
    .expose {
        position: absolute; 
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: -5%;
        width: 80%;
    }
    
    .expose div {
        width: 10%; 
        margin: 0 10%;
        text-align: center;
    }
    
    .expose img {
        width: 150%;
    }
    
    .titulos-text {
        font-size: 10px;
        color: #ffffff;
        text-align: center;
        z-index: 2;
        margin-left: 20%;
    }
    
}
@media only screen and (min-width: 511px) and (max-width: 740px)  {
    body{
        background-color: green;
    }
    .box-btn-actions{
        display: flex;
    }
    
    button{
        padding: .6rem;
        font-size: .9rem;
        border: 15px;
        cursor: pointer;
    }
    
    
    .wrapper .login {
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 45px;
        width: 200px;
        height: 30px;
    }
    .first-section{
        display: block;
        margin-top: 0;
    }
    
    img#backgroundImage {
        width: 100%;
        height: 90%;
        display: flex;
    }
    
    .image-text {
        position: absolute;
        margin-top: -45%;
        left: 25px; 
        color: var(--white1);
        font-weight: bold; 
        font-size: 200%; 
        z-index: 2; 
        margin-bottom: -100%;
        line-height: 1; 
    }
    
    .image-subtext{
        position: absolute; 
        margin-top: -25%;
        left: 25px;
        color: var(--white1);
        font-weight: bold; 
        font-size: 100%; 
        z-index: 2; 
        line-height: 1;
        margin-bottom: -100%;
    }
    
    .saber{
        display: flex;
        color: var(--black);
        background-color: var(--white4);
        font-size: 12px;
        height: 30px; 
        width: 100px;
        top: -100px;
        margin-left: 60px;
        padding: 10px;
        border: none; 
        border-radius: 10px; 
        text-align: center; 
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px
    }
    
    .saber:hover{
        display: flex;
        color: var(--white1);
        background-color: var(--inv);
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 3px solid var(--white1);
    }
    
    .bar1 {
        position: absolute; 
        width: 110vw; 
        max-width: none;
        margin-top: 0%;
        height: 0.5%;
        background-color: #1A9FBA; 
        transform: rotate(-3deg); 
        transform-origin: left bottom; 
        z-index: 2; 
    }
    .bar2 {
        position: absolute; 
        width: 110vw; 
        max-width: none; 
        height: 0.5%; 
        background-color: #707070; 
        margin-top: 0.5%;
        transform: rotate(-3deg); 
        transform-origin: left bottom;
        z-index: 2; 
    }
    .bar3 {
        position: absolute;
        width: 110vw;
        max-width: none;
        height: 10%;
        background-color: #141414;
        margin-top: 1%;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 1;
    }
    
    .second-section{
        position: relative;
        width: 80%;
        margin-top: 25%;
        margin-left: 7%;
        z-index: 3;
    }
    .third-section{
        position: relative;
        width: 80%;
        margin-top: 5%;
        margin-left: 5%;
        z-index: 3;
    }
    .fourth-section{
        position: relative;
        width: 100%;
        height: 200px;
        margin-top: 25%;
        margin-bottom: 5%;
    }
    
    .barra-horizontal {
        position: absolute;
        width: 100%;
        height: 150px;
        background-color: var(--blue);
    }
    
    .circulo {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-color: var(--blue);
        border-radius: 50%;
    }
    .your-story{
        margin-top: 5%;
    }
    .image-right{
        width: 40%;
        height: auto;
        max-height: 100%;
        vertical-align: middle;
        position: absolute;
        right: 0; 
        transform: translateY(-160%);
        z-index: 2;
    }
    
    .text-left{
        padding: 0 1%;
        font-size: 10px;
        color: #ffffff;
        line-height: 1.5;
        margin-right: 55%;
        text-align: right;
        direction: rtl;
        z-index: 2;
        transform: translateY(-80%);
    }
     
    .expose {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: -5%;
        width: 80%;
    }
    
    .expose div {
        width: 10%; 
        margin: 0 10%;
        text-align: center;
    }
    
    .expose img {
        width: 150%; 
    }
    
    .titulos-text {
        font-size: 10px;
        color: #ffffff;
        text-align: center;
        z-index: 2;
        margin-left: 20%;
    }
    
}
@media only screen and (max-width: 510px)  {
    body{
        background-color: pink;
    }
    .box-btn-actions{
        display: flex;
    }
    
    button{
        padding: .6rem;
        font-size: .9rem;
        border: 15px;
        cursor: pointer;
    }
    
    
    .wrapper .login {
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 45px;
        width: 200px;
        height: 30px;
    }
    .first-section{
        display: block;
        margin-top: 0;
    }
    
    img#backgroundImage {
        width: 100%;
        height: 90%;
        display: flex;
    }
    
    .image-text {
        position: absolute;
        margin-top: -45%;
        left: 25px; 
        color: var(--white1);
        font-weight: bold; 
        font-size: 200%; 
        z-index: 2; 
        margin-bottom: -100%;
        line-height: 1; 
    }
    
    .image-subtext{
        position: absolute; 
        margin-top: -25%;
        left: 25px;
        color: var(--white1); 
        font-weight: bold; 
        font-size: 100%; 
        z-index: 2; 
        line-height: 1; 
        margin-bottom: -100%;
    }
    
    .saber{
        display: flex;
        color: var(--black);
        background-color: var(--white4);
        font-size: 12px;
        height: 30px; 
        width: 100px;
        top: -100px;
        margin-left: 60px;
        padding: 10px;
        border: none; 
        border-radius: 10px; 
        text-align: center; 
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px
    }
    
    .saber:hover{
        display: flex;
        color: var(--white1);
        background-color: var(--inv);
        cursor: pointer; 
        font-weight: bold; 
        justify-content: center;
        align-items: center;
        position: relative;
        border: 3px solid var(--white1);
    }
    
    .bar1 {
        position: absolute; 
        width: 110vw; 
        max-width: none; 
        margin-top: 0%;
        height: 0.5%;
        background-color: #1A9FBA; 
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 2; 
    }
    .bar2 {
        position: absolute;
        width: 110vw;
        max-width: none; 
        height: 0.5%; 
        background-color: #707070; 
        margin-top: 0.5%;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 2;
    }
    .bar3 {
        position: absolute;
        width: 110vw; 
        max-width: none; 
        height: 10%;
        background-color: #141414;
        margin-top: 1%;
        transform: rotate(-3deg); 
        transform-origin: left bottom;
        z-index: 1;
    }
    
    .second-section{
        position: relative;
        width: 80%;
        margin-top: 25%;
        margin-left: 7%;
        z-index: 3;
    }
    .third-section{
        position: relative;
        width: 80%;
        margin-top: 5%;
        margin-left: 5%;
        z-index: 3;
    }
    .fourth-section{
        position: relative;
        width: 100%;
        height: 200px; 
        margin-top: 25%;
        margin-bottom: 5%;
    }
    
    .barra-horizontal {
        position: absolute;
        width: 100%;
        height: 150px;
        background-color: var(--blue);
    }
    
    .circulo {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%; 
        height: 100px; 
        background-color: var(--blue);
        border-radius: 50%;
    }
    .your-story{
        margin-top: 5%;
    }
    .image-right{
        width: 40%; 
        height: auto;
        max-height: 100%;
        vertical-align: middle;
        position: absolute;
        right: 0; 
        transform: translateY(-180%);
        z-index: 2;
    }
    
    .text-left{
        padding: 0 1%;
        font-size: 10px;
        color: #ffffff;
        line-height: 1.5;
        margin-right: 55%;
        text-align: right;
        direction: rtl; 
        z-index: 2;
        transform: translateY(-80%);
    }
     
    .expose {
        position: absolute; 
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: -5%;
        width: 80%; 
    }
    
    .expose div {
        width: 10%; 
        margin: 0 10%; 
        text-align: center;
    }
    
    .expose img {
        width: 150%; 
    }
    
    .titulos-text {
        font-size: 10px;
        color: #ffffff;
        text-align: center;
        z-index: 2;
        margin-left: 20%;
    }
    
}
